<!--------------Contacto------------------------------------------------------->
<section class="descripcion" id="contacto">
    <h3 class="titulo">Contacto:</h3>
    <div class="contacto">
      <ul>
      <li class="mail"><a href="mailto:miguelmfrugoni@gmail.com" title="Enviar email">
        <i class="bi bi-envelope-fill"></i></a></li>
      <li><a href="https://www.linkedin.com/in/miguel-mar%C3%ADa-frugoni-77a286224/" title="Contacto por LinkedIn">
        <i class="bi bi-linkedin"></i></a></li>
      <li><a href="https://github.com/mfrugoni" title="Mi cuenta de Github">
        <i class="bi bi-github"></i></a></li>
      <li></li>
      </ul>
    </div>
  </section>
