<!--------------Educación------------------------------------------------------>

<section class="descripcion" id="educacion">
    <h3 class="titulo">Educación</h3>
    <ul>
      <li>Actualmente, estoy cursando #YoProgramo. La segunda parte del Plan 
      <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" title="Plan Argentina Programa">Argentina Programa</a> 
      que finaliza en mayo de 2022.</li><p></p>
      <li>En Octubre de 2021 aprobé el examen del curso #Seprogramar, primera 
      etapa del Plan <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" title="Plan Argentina Programa">Argentina Programa</a> 
      del Ministerio de Desarrollo Productivo, curso que consiste en la 
      introducción a los fundamentos de la programación, con lenguajes 
      como Gobstones, Javascript y Ruby.</li><p></p>
      <li>En Octubre de 1997 terminé el curso de Instructor Nacional de esquí, 
      dictado por la <a href="https://aadidess.com/" title="Asociación argentina de instructores de esquí, snowboard y pisteros socorristas">AADIDESS</a>, 
      curso de nivel terciario que actualmente tiene equivalencia con el 
      de Instructor de esquí Nivel 3 avalado por la ISIA en casi todo el 
      mundo del esquí.</li><p></p>
      <li>A fines del año 1987 completé mis estudios secundarios en el 
      <a href="http://cpem13.com.ar:8081/" title="Centro provincial de enseñanza media número 13">C.P.E.M. Nº13</a>, 
      San Martín de los Andes, Neuquén, Argentina.</li><p></p>
    </ul>
  </section>
