<!--------------Experiencia Laboral-------------------------------------------->

<section class="descripcion" id="experiencia">
    <h3 class="titulo">Experiencia Laboral</h3>
    <p>
      He desempeñado varias actividades laborales a lo largo de mi vida, entre las que 
      se destacan:<br>
      En la actividad turística, principalmente la profesión de Instructor de esquí tanto en Argentina
      como en Europa, además de trabajos en el rubro hotelería en relación de dependencia.<br>
      Diseño gráfico: diseño y realización de cartelería publicitaria utilizando herramientas de
      diseño y vectorización como el paquete de programas Corel y programas para plotter de corte
      como el Easy Sign combinado con el tallado artesanal en maderas. 
      Esto último como socio en <a href="https://www.facebook.com/AU.Tallados" title="Au Producciones">
      AU</a>. Pequeña empresa de cartelería publicitaria y artesanías.<br>
      En estos momentos, estoy estudiando y buscando mi primer trabajo como desarrollador 
      web full stack.
    </p>
  </section>
