<!--------------Hard & Soft skills--------------------------------------------->

<section class="descripcion" id="skills">
    <h3 class="titulo">Hard & Soft skills</h3>
    <ul>
      <li><h4>Hard:</h4>
        <p>En proceso de estudio: HTML, CSS, Javascript, Angular, 
          Java.</p>
      </li>
      <li><h4>Soft:</h4>
        <p>En cuanto a las habilidades blandas, soy creativo, honesto y funciono 
          bien trabajando tanto en equipo, como de forma independiente.<br>Soy 
          flexible para adaptarme a los cambios.</p>
      </li>
      <li><h4>Idiomas:</h4>
      <p>Español: Idioma nativo.<br>
        Inglés: 60% (5 años de estudio en el Southern Institute).<br>
        Francés: 50% (D.E.L.F. B1).<br>
        Portugués: Básico.</p>
      </li>
    </ul>
  </section>
